$active-button-border-color: #ffffff7c;

._ {
  width: 100%;
  min-height: fit-content;
  display: flex;
  align-items: center;
  gap: 3rem;
  opacity: 1;

  button {
    position: relative;
    border: none;
    padding-bottom: 5px;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:nth-child(2) {
    margin-inline-start: auto;
  }

  .underline {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #fff;
  }
}
