._ {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  padding: 1rem;
  overflow: hidden;

  .canvas {
    display: block;
  }

  ._tech-labels {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: clamp(0.5rem, 10vw, 3rem);
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
  }

  li {
    cursor: pointer;
  }

  @media (max-width: 650px) {
    padding: 0;
  }
}
