$texts-inline-margin: 2rem;

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem 5rem;

  ._showcase {
    flex: 1;
    margin-inline-start: 5rem;
    font-size: 2rem;

    h2 {
      margin: 1rem;
      margin-inline-start: $texts-inline-margin;
    }

    h3 {
      margin-inline-start: calc($texts-inline-margin * 2);
      font-family: 'roboto';
    }
  }
}
