$texts-inline-margin: 2rem;

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  margin: auto 0;
  padding: 1rem 5rem;

  ._showcase {
    flex: 1;
    margin-inline-start: 5rem;
    font-size: 2rem;

    // h1 {
    //   line-height: 3rem;
    // }

    h2 {
      margin: 1rem;
      margin-inline-start: $texts-inline-margin;
      margin-top: 0;
      color: #797979;
    }

    h3 {
      margin-inline-start: calc($texts-inline-margin * 2);
    }

    ._tech {
      position: absolute;
      transform: translateY(200%);
      opacity: 0;
      transition: all 0.5s ease;
      color: var(--text-active-color-2);
    }

    .active {
      transform: translateY(0);
      opacity: 1;
    }

    .next-active {
      transform: translateY(100%) scale(0.9);
      opacity: 0.1;
    }
  }

  ._contact {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-inline-start: auto;
    transform: translateY(2rem);

    img {
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    img:hover {
      transform: scale(0.8);
    }
  }

  @media (max-width: 900px) {
    width: 100%;
    align-items: center;
    padding: 0;
    gap: 25vw;

    * {
      font-size: 10vw;
      text-align: center;
    }

    ._showcase {
      margin: 0;

      h2,
      h3 {
        margin: 0;
      }

      ._tech {
        left: 50%;
        transform: translate(-50%, 200%);
        font-size: clamp(0.5rem, 7vw, 3rem);
      }

      .active {
        transform: translate(-50%, 10px);
      }

      .next-active {
        transform: translate(-50%, calc(100% + 10px)) scale(0.9);
      }
    }

    ._contact {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 0;
      transform: translateY(0);

      img {
        max-width: 10vw;
      }
    }
  }
}
