$scrollbar-height: 50vh;

._ {
  position: relative;
  min-width: 4px;
  height: $scrollbar-height;
  border-radius: 7px;
  background-color: #e2eefe;
  margin: auto 0;
  margin-inline-start: auto;
  z-index: 2;

  ._thumb {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #031943;
    transition: top 0.3s ease;
  }
}
